:root {
    --backGroundBody: #f5f6fa;
    --backGroundCards: #fff;
    --shadow: #e3e5eb56;
    --primary: #5457b6;
    --title: #313131;
    --text: #868686;
    --lightRed: #ed6468;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg {
    height: 1rem;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
h1, h2, h3, h4 {
    color: var(--title);
}
body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backGroundBody);
}
body.no-scroll {
    overflow: hidden;
}
h1 {
    font-size: 1rem;
}
main {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.allComments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.comment-container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.question, .replies-container, .post-comment-container, .reply-comment-container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: var(--backGroundCards);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem var(--shadow);
    padding: 1.5rem;
    position: relative;
}
.reply-comment-container {
    display: none;
}
.reply-comment-container.active {
    display: flex;
    margin-top: -0.8rem;
}
/* Vote (Up - Number - Down) */
.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backGroundBody);
    border-radius: .5rem;
}
.vote button {
    padding: .8rem;
}
.vote button svg path {
    fill: #afb3c5;
    transition: .3s;
}
.vote button:hover svg path, .vote button.active svg path {
    fill: var(--primary);
}
.vote span {
    color: var(--primary);
    font-weight: 500;
}
/* Profile details - Reply button - comment text */
.comment-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.comment-details .comment-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-details .comment-profile .profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.comment-details .comment-profile .profile-info img {
    max-width: 12%;   
}
.comment-details .comment-profile .profile-info p {
    color: var(--text);
}
.comment-details .comment-profile .reply button, .comment-details .comment-profile .my-comment-actions .delete, .comment-details .comment-profile .my-comment-actions .edit{
    display: flex;
    gap: .5rem;
    
}
.comment-details .comment-profile .reply button span, .comment-details .comment-profile .my-comment-actions .edit span {
    font-weight: 700;
    font-size: .97rem;
    color: var(--primary);
    transition: .2s ease-in-out;
}
.comment-details .comment-profile .reply button svg path, .comment-details .comment-profile .my-comment-actions .edit svg path {
    fill: var(--primary);
}
.comment-details .comment-content {
    color: var(--text);
    line-height: 1.6;
}
.userComment.disable {
    display: none;
}
.tag {
    color: var(--primary);
    font-weight: 700;
}
/* Replies - My reply */
.replies {
    padding-left: 2.5rem;
    border-left: 0.18rem solid #dfdfdf;
    margin-left: 2.5rem;
    display: none;
    flex-direction: column;
    gap: 1.3rem;
}
.comment-details .comment-profile .profile-info span {
    padding: .1rem .6rem .2rem;
    color: var(--backGroundCards);
    background-color: var(--primary);
}
.comment-details .comment-profile .my-comment-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    right: 1.5rem;
}
.comment-details .comment-profile .my-comment-actions .delete svg path{
    fill: var(--lightRed);
}
.comment-details .comment-profile .my-comment-actions .delete span {
    font-weight: 700;
    font-size: .97rem;
    color: var(--lightRed);
}
/* Delete section */
.delete-comment {
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    width: 100%;
    max-width: 24rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: none;
}
.delete-comment.active {
    display: flex;
}
.delete-comment p {
    color: var(--text);
    line-height: 1.6;
}
.delete-comment .delete-cta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delete-comment .delete-cta .no-cancel, .delete-comment .delete-cta .yes-delete{ 
    color: var(--backGroundCards);
    padding: 1rem 2.3rem;
    border-radius: .5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.delete-comment .delete-cta .no-cancel {
    background-color: var(--text);
}
.delete-comment .delete-cta .yes-delete {
    background-color: var(--lightRed);
}
/* Delete layer */
.layer {
    display: none;
    background: #000000a6;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9;
}
.layer.active {
    display: block;
}
/* Post a comment section */
.post-comment-container {
    margin-top: 1.3rem;
}
.post-comment-container img, .reply-comment-container img{
    max-width: 2.5rem;
}
form label {
    width: 100%;
}
.commentTxt {
    padding: 1rem 1rem 3rem;
    resize: none;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: .5rem;
    font-size: inherit;
    font-family: inherit;
}
.submitBtn {
    background-color: var(--primary);
    color: var(--backGroundCards);
    padding: 1rem 1.8rem;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
}
.hidden-submit{
    border: 0 none;
    height: 0;
    width: 0;
    overflow: hidden;
}
/* Textarea to update a comment */
.updateDiv {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:794px) {
    .replies {
        padding-left: 1.5rem;
        margin-left: 1rem;
    }
}
@media (max-width: 694px) {
    .replies {
        padding-left: 1rem;
        margin-left: 0rem;
    }
    .question{
        flex-direction: column-reverse;
    }
    .vote {
        flex-direction: row;
    }
    .vote span {
        width: 2rem;
        display: flex;
        justify-content: center;
    }
    .upScore, .downScore {
        display: flex;
    }
    .my-comment-actions {
        bottom: 1.5rem;
    }
    .replyBtn {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .post-comment-container, .reply-comment-container {
        position: relative;
        padding-bottom: 5rem;
    }
    .post-comment-container img, .reply-comment-container img {
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
    }
    .submitBtn {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
    }
    .updateDiv .submitBtn {
        position: static;
    }
}
@media (max-width:473px) {
    .question, .replies-container {
        padding: 1rem;
    }
    .post-comment-container, .reply-comment-container {
        padding: 1rem 1rem 5rem;
    }
    .comment-details .comment-profile .profile-info {
        gap: .7rem;
    }
    .comment-details .comment-profile .my-comment-actions {
        right: 1rem;
        bottom: 1rem;
    }
    .submitBtn {
        right: 1rem;
        bottom: 1rem;
    }
    .post-comment-container img, .reply-comment-container img {
        left: 1rem;
        bottom: 1rem;
    }
}
@media (max-width:415px) {
    main {
        padding: 1.5rem .7rem;
    }
    .comment-details .comment-profile .profile-info p, h1 {
        font-size: .85rem;
    }
    .userComment {
        font-size: .9rem;
    }
    .replies {
        padding-left: .7rem;
    }
    .vote button {
        padding: .7rem .5rem;
    }
    .delete-comment .delete-cta {
        flex-direction: column;
        gap: .7rem;
    }
}
@media (max-width:360px) {
    .comment-details .comment-profile .my-comment-actions {
        gap: 1rem;
    }

}